<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"  />
    <script src="angular.min.js"></script>
    <script src="angular.js"></script>

</head>


<body>

<div ng-app="scopeExample">

    <!--<div ng-controller="test1">-->
        <!--<input ng-model="data.message">-->
        <!--{{data.message}}-->
    <!--</div>-->

    <!--<div ng-controller="test2">-->
        <!--<input ng-model="data.message">-->
        <!--{{data.message|reverse}}-->
    <!--</div>-->

<!--lesson 8 -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <!---->
    <!--<div ng-controller="avgctl">-->
        <!--<input type="text" ng-model="condition">-->
        <!--<ul ng-repeat="a in aaa.cast | filter:condition">-->
            <!--<li>{{a.name}}</li>-->
        <!--</ul>-->
    <!--</div>-->

<!--lesson 10 -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <!--<div super flash></div>-->


    <!--<div enter leave>this is the content</div>-->


<!--lesson 14~15-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

    <!--<div ng-controller="AppCtrl">-->
        <!--<div enter="loadMoreTwit()">Roll of the Twitts</div>-->
    <!--</div>-->

    <!--<superhero speed>Hulk</superhero>-->


<!--lesson 16&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;    -->
    <div ng-controller="chorectrl">
        <kid done="logChore(chore)"></kid>
    </div>




</div>

</body>
</html>